* {
  padding: 0;
  margin: 0;
}

html, body {
  padding: 0;
  margin: 0;
}

#game {
  position: relative;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
}

#character {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  top: 50px;
  left: 190px;
  z-index: 1000;
}

.movingBlock {
  position: absolute;
  width: 400px;
  height: 20px;
  background-color: black;
  top: 500px;
}

.hole {
  position: absolute;
  width:40px;
  height: 20px;
  background-color: white;
}